<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
    <style>
        /* ... (your CSS styles) */

    </style>
</head>
<body>
    <div class="container" style="background-color: beige; border: 2px; box-shadow: 4px;">
        <h1>We have deployed 2 tier flask application using docker compose on PROD server !</h1>
        {% for message in messages %}
            <p>{{ message[0] }}</p>
        {% endfor %}
        
        <form action="/submit" method="post">
            <input type="text" name="new_message" placeholder="Enter a new message">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>

